@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300;378&family=Source+Sans+Pro:ital@1&family=Zen+Antique&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Red Hat Mono', monospace;


}

:root {
  --main-color: orangered;
  --aliceblue: rgb(255, 255, 255);
  --First-color: #161624;
  --Second-color: #f2363c;
  --third-color: #573b8a;
}

body {
  background-image: url(https://wallpapercave.com/wp/wp2757874.gif);
  min-height: 100vh;
  background-size: contain;
  background-position: right;
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;

}

header {
  background: var(--main-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #FF512F 0%, #f8560a 51%, #FF512F 100%);

}


button {
  border: none !important;
  box-shadow: none !important;
}

.buttons-box {
  display: flex;
  gap: 10px;
  align-items: center;
  /* flex-wrap: wrap; */
}

.buttons-box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.buttons-box button {
  background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%) !important;

}

.btn-grad {
  background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%);
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.forms {
  display: flex;
  justify-content: center;
}


.logo {
  width: 117px;
}

.main {
  position: fixed;
  width: 350px;
  background-color: #161624aa;
  height: 625px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  bottom: -100%;
  opacity: 0;
  transition: 0.5s linear;
  margin: auto;
  z-index: 10;
}

.showForm {
  opacity: 1 !important;
  bottom: -80px;
  position: fixed !important;
  animation: show 0.5s linear;
}

.hiddenForm {
  bottom: -100%;
  opacity: 0;
  transition: 0.5s linear;
  z-index: -10;
}

.post {
  min-height: 250px;
}

#chk {
  display: none;
}

.sig {
  margin: 15px !important;
}

.signup {
  position: relative;
  width: 100%;
  height: 93%;
}

.user-box {
  position: relative;
  width: 60%;
  margin: 0px auto;
}

.btn-grad {
  margin: 10px auto;
  background-image: linear-gradient(to right, #000000 0%, #53346D 51%, #000000 100%);


  cursor: pointer;
}



.login {
  height: 470px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: .8s ease-in-out;
}

#chk:checked~.login {
  transform: translateY(-620px);
}

#chk:checked~.login label {
  transform: scale(1);
}

#chk:checked~.signup .sig {
  transform: scale(.6);
  margin-top: 10px;
}

.user-box label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.user-box input {
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.user-box input:focus~label,
.user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #f2363c;
  font-size: 12px;
  font-weight: bold;
}

label[for="chk"] {
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.sig {
  color: #fff;
  margin: 40px;
}

.log {
  margin: 80px;
}

.login label,
.login input {
  color: #573b8a;
}

.login input {
  border-color: #573b8a;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 100px;
}

.card {
  width: 60%;
  min-width: 350px;
  background-size: 100%;
  min-height: 280px;
  background: rgba(0, 0, 0, 0.192);
  position: relative;
  color: var(--aliceblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.imgUser {
  width: 80px;
  position: absolute;
  height: 80px;
  border-radius: 50%;
  top: -50px;
  left: -20px;
}

.card h3 {
  margin-top: 40px;
}

.starNum {
  position: absolute;
  top: 30px;
  right: 35px;
}

.starIcon {
  position: absolute;
  top: 30px;
  right: 50px;
}

.deleteBtn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 5px;
  top: 5px;
  padding: 5px;
  border-radius: 50%;
}

.mystyle {
  color: gold !important;
  padding: 3px;
  border-radius: 50%;
}

.add-post {
  display: flex;
  justify-content: center;
  /* max-width: 400px; */

}

.formPost {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 350px;
  max-width: 450px;
  min-height: 250px;
  margin-top: 100px;
  align-items: center;
  text-align: center;
  background-color: #161624aa;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  /* bottom: 1500px; */
  transition: 0.5s linear;
  z-index: 10;
}

.formPost h2 {
  margin-top: 20px;
  font-size: 1.5em;
  color: white;
}

.formPost textarea {
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  width: 90%;
  min-height: 55%;
}

.formPost button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

.formPost img {
  width: 70px;
  border-radius: 50%;
  height: 70px;
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
}

.imgForm {
  left: 30px !important;
  top: 10px !important;
  background-color: white;
  width: 40px !important;
  height: 40px !important;
}

.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #0c0f2287;
  margin-top: 2px;
  border-bottom: 1px solid white;
}

.card ul {
  width: 100%;
}

.comment div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}

.comment p {
  margin-left: 20px;

}

.comment img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.comment-box {
  width: 100%;
}

.comment-box input {
  padding: 5px;
  width: 80%;
}

.comment-box button {
  padding: 5px;

  width: 20%;
}

.signOut {
  padding: 10px;
  color: white;
  border-radius: 12px;

}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear 1000000;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF3D00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear 10000 reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: fixed;
  background-color: #080d1a;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

.hidden {
  position: absolute;
  opacity: 0;
  z-index: -10;
}